.CardPage-loader {
  height: 100%;
  display: grid;
  place-items: center;
}

.CardPage-loader .spinner-border {
}

.CardPage {
  background-color: #ECF1F5;
}

.plusMinus {
  color: rgb(196, 79, 79);
  margin-left: 10px;
  font-size: 1.5em;
}